.header {
    background-image:url("./content/images/header_backgr.png");
    background-repeat: no-repeat;
    background-size:100% auto;
    height: 1000px;
    font-size: 14px;
    /*width: 100%;*/
}

.nav {
    box-sizing: border-box;
    justify-content: flex-end;
    flex-wrap: nowrap;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.nav-collapsed {
    margin-top: 0.3em;
    color: #ffffff;
    visibility: hidden;
}

@media (max-width: 1050px) {
    .nav {
        visibility: hidden;
    }
    .nav-collapsed {
       visibility: visible;
    }
}

.nav-link {
    color: #ffffff;
}

.cart,
.search {
    margin: 15px;
}

.main-text {
    font-family: Montserrat;
    font-size: 72px;
    color: #ffffff;
    height:40vw;
}

.main-text__item_template {
    font-family: 'Kaushan Script', cursive;
}

.main-text__item_welcome {
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
}

.main-text__item_div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    height: 3px;
    width: 60px;
    background-color: white;
}

.main-text__item_more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 200px;
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid white;
}

.head-bot-items {
    list-style: none;
    display: flex;
    justify-content: start;
}

.head-bot-items__item {
    margin-left: 3em;
    border-top: 2px solid white;
    width: 200px;
}




