/*html, body {*/
    /*box-sizing: border-box;*/
    /*line-height: 1.7;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-size: 12px;*/
/*}*/

.header {
    background:url("../content/images/header_backgr.png") no-repeat;
    background-size:cover;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}

.nav {
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: none;
}

.nav-collapsed {
    display: flex;
    align-items: center;
    color: #ffffff;
    display: block;
    font-size: 2em;
    margin-right: 2em;
}

.nav-collapsed:hover{
    color: #fff2a5;
    transition: ease-out;
    transition-duration: 0.3s;
}

.nav-link {
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

.header__icons, .header__logo {
    display: flex;
    align-items: center;
}

.header__logo h2 {
    font-family: Montserrat;
    font-size: 2em;
    font-weight: 700;
}

.header__icons a {
    margin-left: auto;
    font-size: 15px;
    color: white;
    border-bottom: 2px solid transparent;
}

.header__icons .search {
    margin-left: 40px;
}

.nav-link:hover,
.nav-link.active,
.header__icons a:hover {
    color: #fff2a5;
    border-bottom: 2px solid #fff2a5;
    transition: ease-out;
    transition-duration: 0.3s;
}

.header .carousel.slide.container {
    padding-top: 40px;
}

.header .carousel-item {
    text-align: center;
    font-size: 110px;
    line-height: 0;
}

.header .carousel .sectionHeading {
    text-align: center;
    font-family: Montserrat;
    font-size: 0.4em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.header .carousel .subHeading {
    font-family: 'Kaushan Script', cursive;
    display: block;
    font-size: 0.4em;
    font-weight: 400;
    text-transform: none;
}

.header .carousel .sectionHeading:after {
    content: '';
    position: absolute;
    background-color: #fff;
    left: 50%;
    bottom: -20px;
    width: 70px;
    height: 3px;
    transform: translateX(-50%);
}

.header .carousel-item .btn {
    background: transparent;
    border-radius: 0;
    border: 1px solid white;
    font-family: Montserrat;
    width: 150px;
    margin-top: 45px;
}

.header .carousel-item .btn:hover {
    background: rgba(255,242,165,0.3);
    border: 1px solid #fff2a5;
}

.header .carousel-indicators {
    width: 100%;
    left: 0;
    margin: 0;
    position: static;
    margin-top: 80px;
}

.carousel-indicators__item .inner{
    display: none;
    font-size: 0.9em;
}

.carousel-indicators__item .bullet {
    width: 25px;
    height: 5px;
    background-color: #edeedc;
    position: absolute;
    display: block;
    transform: translateX(-50%);
    left: 50%;
    top: -40px;
    transition: 0.3s;
}

.carousel-indicators__item.active .bullet {
    background-color: #f38181;
}


.carousel-indicators__item .bullet:hover {
    background-color: #fff;
}

.header .carousel-indicators li,
.header .carousel-indicators li.active {
    float: left;
    width: 25%;
    height: auto;
    margin: 0;
    text-indent: initial;
    border-radius: 0;
    background: none;
    text-align: left;
    border: none;
}

.header .carousel-indicators li .inner {
    border-top: 2px solid #eeebcc;
    position: relative;
    color: #edeedc;
    text-transform: uppercase;
    margin: 0 12px;
    padding: 10px 0;
}

.header .carousel-indicators li .inner:hover,
.header .carousel-indicators li.active .inner {
     border-top: 2px solid #fffff5;
     color: #fffff5;
}

.header .carousel-indicators li .inner:hover:after,
.header .carousel-indicators li.active .inner:after{
     content: '';
     position: absolute;
     width: 60px;
     height: 2px;
     top: -2px;
     left: 0;
     background-color: #f38181;
 }

.header .carousel-indicators .number {
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 700;
}

.main__item_div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    height: 3px;
    width: 60px;
    background-color: white;
}

.learn-more {
    border-radius: 0px;
    border: 2px solid white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.bottom-nav {
    border-top: 2px solid white;
    width: 200px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}

.head-bot-items {
    list-style: none;
    display: flex;
    justify-content: start;
}

.head-bot-items__item {
    margin-left: 3em;
    border-top: 2px solid white;
    width: 200px;
}


@media (min-width: 576px) {
    .carousel-indicators__item .inner {
        display: block;
    }

    .carousel-indicators__item .bullet {
        display: none;
    }
}

@media (min-width: 768px) {
    .header__icons .search {
        margin-left: 30px;
    }
    .header .carousel .sectionHeading {
        font-size: 0.5em;
    }
    .header .carousel .subHeading {
        font-size: 0.4em;
    }
}

@media (min-width: 992px) {
    .header__icons .search {
        margin-left: 20px;
    }
    .nav {
        display: flex;
    }

    .nav-collapsed {
        display: none;
    }

    .header .carousel .sectionHeading {
        font-size: 1em;
    }

    .header .carousel .subHeading {
       font-size: 0.5em;
    }
}